.moviespagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.moviescontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 2rem;
  text-decoration: none;
}
.moviescontainer a {
  text-decoration: none;
  color: black;
}
.singlemovie {
  height: 18rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  background-color: #495579;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.singlemovie:hover {
  box-shadow: 1px 1px 4px #838ca9;
}
.movieimageholder {
  /* height: 10rem; */
  width: 15rem;
  height: 13rem;
  overflow: hidden;
}
.movieimageholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}
.movieimageholder img:hover {
  transform: scale(1.08);
}
.movielittledetailholder {
  text-align: center;
  padding: 0.1rem;
}
.notice {
  margin: auto;
  text-align: center;
  color: red;

}
@media screen and (max-width: 880px) {
  .moviescontainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 580px) {
  .moviescontainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
